*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

main,
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
picture {
    display: block;
}

figure,
blockquote {
    margin: 0;
}

a[href*='mailto:'],
a[href*='tel:'] {
    word-wrap: break-word;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
}

input,
textarea {
    box-shadow: none;
}

input,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}
