:root {
    --font-family: 'Georgia', serif;
    --line-height: 1.5;

    --font-size-m: 16px;
    --font-m: var(--font-size-m) / var(--line-height) var(--font-family);

    --font-size-l: 24px;
    --font-l: var(--font-size-l) / var(--line-height) var(--font-family);

    --container-width: 1920px;
    --container-padding-s: 20px;
    --container-padding-l: 50px;
}
