.header {
    padding: 10px 0;
    box-shadow: var(--box-shadow);
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding-l);
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}
