.header {
    padding: 10px 0;
    box-shadow: var(--box-shadow);
}

.container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}
