.link {
    padding: 6px 10px;
    border-radius: 30px;
    color: var(--font-color);
}

.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    &:hover {
        text-decoration: none;
    }
}
